.Producto{
    width: 10rem;
    height: 18rem;
    background-color: rgba(0, 0, 0, 0.649);
    border-radius: 2rem;
    border: 0.1rem solid rgb(214,190,116);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: 0.3s;
    &:hover{
        height: 30rem;
    }
    &__Contenedor{
        width: 9.9rem;
        height: 9.9rem;
        background-color: rgba(0, 0, 0, 0.7);
        border-bottom: 0.1rem solid rgb(214,190,116);
        &__Imagen{
            width: 9.9rem;
        }    
    }
    &__Titulo{
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(214,190,116);
        font-size: 1.3em;
        font-weight: 200;
        margin: 1.5em 0.5rem 0.5rem 0.5rem;
        height: 2em;
        text-align: center;
    }
    &__Precio{
        color: rgb(214,190,116);
        font-size: 1.5em;
        margin: 0.5em 0;
        text-align: center;
    }
    &__Parrafo{
        color: white;
        margin: 1em;
    }
    &__Encargar{
        color: white;
        background-color: black;
        border: 0.1rem solid rgb(214,190,116);
        border-radius: 2rem;
        text-align: center;
        font-size: 1.5em;
        width: 8rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    
    
}
