
@media screen and (min-width: 980px) {
    .Pedido{
        left: calc(50% - (49rem / 2));
    }
}

@media screen and (max-width: 760px){
    .Pedido{
        top: 0;
        left: 0;
        width: 90vw;
        margin: 10vh 5vw;
        height: 80vh;
        justify-content: space-between;
        &__Close{
            height: 1.5rem;
            width: 1.5rem;
        }
        &__Informacion{
            height: auto;
            margin: 1rem 0rem;
            &__Contenedor{
                height: 10rem;
                width: 10rem;
                &__Imagen{
                    height: 10rem;
                    width: 10rem;
                }
            }
            &__Caracteristicas{
                height: auto;
                width: auto;
                margin-left: 1rem;
                justify-content: center;
                gap: 2rem;
            }
        }
    }
    
    .Carta{
        &__Cabecera{
            &__Titulo{
                font-size: 2em;
            }
        }
    }
}

@media screen and (max-width: 640px){
    .Carta{
        &__Contenedor{
            &__Seccion{
                height: 5rem;
                &:hover{
                    height: 59rem;
                }
                &__Contenedor{
                    height: 80rem;
                }
                &__Titulo{
                    font-size: 1.5em;
                    padding: 0.2rem;
                }
            }
        }
    }
    
}



@media screen and (max-width: 500px){
    .Carta{
        &__Cabecera{
            &__Titulo{
                font-size: 1.5em;
            }
        }
    }
}


@media screen and (max-width: 380px){
    .Carta{
        &__Cabecera{
            &__Titulo{
                font-size: 1em;
            }
        }
        &__Contenedor{
            &__Seccion{
                height: 5rem;
                &:hover{
                    height: 50rem;
                }
                &__Titulo{
                    font-size: 1.5em;
                }
            }
        }
    }
    .Producto{
        width: 8rem;
        height: 14rem;
        &__Contenedor{
            width: 7.9rem;
            height: 7.9rem;
            &__Imagen{
                width: 7.9rem;
                height: 7.9rem;
            }
        }
        &__Titulo{
            font-size: 1em;
        }
        &__Precio{
            font-size: 1em;
        }
        &__Parrafo{
            font-size: 0.8em;
        }
        &__Encargar{
            width: 7rem;
            font-size: 1.2em;
            margin-bottom: 0.5rem;

        }
        &:hover{
            height: 23rem;
        }
    }
}
