* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'Asap';
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@font-face {
  font-family: "Asap";
  src: url("./fonts/Asap-VariableFont_wght.ttf"); }

html, body {
  background-color: #000; }

::-webkit-scrollbar {
  width: 0; }

.Header {
  width: 100vw;
  height: 5.5rem;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .Header__TituloPrincipal {
    color: #ffe297;
    font-size: medium;
    text-align: center;
    font-size: 2em;
    font-weight: 200; }
  .Header__TituloSecundario {
    color: #ffe297;
    font-size: medium;
    text-align: center;
    font-size: 1.7em;
    font-weight: 200; }

.Inicio {
  background-color: antiquewhite;
  background: url("./Imgs/FondoInicio.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  height: calc(100vh - 5.5rem);
  display: flex;
  justify-content: center;
  align-items: center; }
  .Inicio__Contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; }
    .Inicio__Contenedor__Imagen {
      height: calc(100vh - 5.5rem);
      max-height: 100vw;
      max-width: 100vw; }

.Carta {
  min-height: 100vh;
  height: auto;
  width: 100%;
  background: url("./Imgs/FondoCartaSevenSushi.png") no-repeat center center fixed;
  display: flex;
  flex-direction: column; }
  .Carta__Cabecera {
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #000000;
    border-bottom: 0.1rem solid #ffe297;
    min-height: 10vh; }
    .Carta__Cabecera__Contenedor {
      width: 10vw;
      min-height: 10vh;
      min-width: 10vh;
      border-right: 0.1rem solid #ffe297; }
      .Carta__Cabecera__Contenedor__Imagen {
        width: 10vw;
        min-height: 10vh;
        min-width: 10vh; }
    .Carta__Cabecera__Titulo {
      width: calc(100% - 10vw - 0.2rem);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vw;
      color: #ffe297;
      font-size: 3em;
      text-align: center; }
  .Carta__Contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .Carta__Contenedor__Seccion {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 8rem;
      overflow: hidden;
      transition: 0.5s; }
      .Carta__Contenedor__Seccion__Titulo {
        display: flex;
        justify-content: center;
        margin: 2rem 0rem;
        color: #ffe297;
        font-weight: 100;
        background-color: #000000d6;
        width: 100%;
        text-align: center;
        padding: 2rem 0;
        font-size: 2.3em; }
      .Carta__Contenedor__Seccion__Contenedor {
        width: 100%;
        min-height: 30rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly; }
      .Carta__Contenedor__Seccion:hover {
        height: 41rem; }

.Producto {
  width: 10rem;
  height: 18rem;
  background-color: rgba(0, 0, 0, 0.649);
  border-radius: 2rem;
  border: 0.1rem solid #d6be74;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s; }
  .Producto:hover {
    height: 30rem; }
  .Producto__Contenedor {
    width: 9.9rem;
    height: 9.9rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 0.1rem solid #d6be74; }
    .Producto__Contenedor__Imagen {
      width: 9.9rem; }
  .Producto__Titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d6be74;
    font-size: 1.3em;
    font-weight: 200;
    margin: 1.5em 0.5rem 0.5rem 0.5rem;
    height: 2em;
    text-align: center; }
  .Producto__Precio {
    color: #d6be74;
    font-size: 1.5em;
    margin: 0.5em 0;
    text-align: center; }
  .Producto__Parrafo {
    color: white;
    margin: 1em; }
  .Producto__Encargar {
    color: white;
    background-color: black;
    border: 0.1rem solid #d6be74;
    border-radius: 2rem;
    text-align: center;
    font-size: 1.5em;
    width: 8rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center; }

.Pedido {
  background-color: rgba(0, 0, 0, 0.767);
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
  top: 10vh;
  left: 10vw;
  border: 0.1rem solid #d6be74;
  border-radius: 1rem; }
  .Pedido__Pedir {
    width: 12rem;
    height: 5rem;
    margin: 1rem;
    border: 0.1rem solid #d6be74;
    border-radius: 1rem;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .Pedido__Close {
    margin-left: calc(100% - 2.5rem);
    margin-top: 0.5rem;
    width: 2rem;
    height: 2rem;
    color: white; }
  .Pedido__Titulo {
    font-size: 2em;
    color: white; }
  .Pedido__Informacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 40rem;
    height: calc(100% - 1.5em - 2rem); }
    .Pedido__Informacion__Contenedor {
      width: 20rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.1rem solid #d6be74;
      background-color: #4b4b4b; }
      .Pedido__Informacion__Contenedor__Imagen {
        width: 20rem; }
    .Pedido__Informacion__Caracteristicas {
      width: calc(100% - 20rem - 5rem);
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      height: 20rem; }
      .Pedido__Informacion__Caracteristicas__Titulo {
        font-size: 1.8em;
        color: white; }
      .Pedido__Informacion__Caracteristicas__Contenedor {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 0.1rem solid black;
        background-color: white;
        width: 10rem;
        border-radius: 1rem; }
        .Pedido__Informacion__Caracteristicas__Contenedor__Precio {
          border-bottom: 0.1rem solid black;
          width: 100%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5em; }
        .Pedido__Informacion__Caracteristicas__Contenedor__Calculo {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 3rem; }
          .Pedido__Informacion__Caracteristicas__Contenedor__Calculo__Restar {
            margin: 0.5rem;
            width: 1.5rem;
            height: 1.5rem; }
          .Pedido__Informacion__Caracteristicas__Contenedor__Calculo__Sumar {
            margin: 0.5rem;
            width: 1.5rem;
            height: 1.5rem; }
          .Pedido__Informacion__Caracteristicas__Contenedor__Calculo__Asignar {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 1.5rem; }

.invisible {
  display: none; }

@media screen and (max-width: 760px) {
  .Carta__Cabecera__Titulo {
    font-size: 2em; } }

@media screen and (max-width: 640px) {
  .Carta__Contenedor__Seccion {
    height: 5rem; }
    .Carta__Contenedor__Seccion:hover {
      height: 59rem; }
    .Carta__Contenedor__Seccion__Contenedor {
      height: 80rem; }
    .Carta__Contenedor__Seccion__Titulo {
      font-size: 1.5em;
      padding: 0.2rem; } }

@media screen and (max-width: 500px) {
  .Carta__Cabecera__Titulo {
    font-size: 1.5em; } }

@media screen and (max-width: 380px) {
  .Carta__Cabecera__Titulo {
    font-size: 1em; }
  .Carta__Contenedor__Seccion {
    height: 5rem; }
    .Carta__Contenedor__Seccion:hover {
      height: 50rem; }
    .Carta__Contenedor__Seccion__Titulo {
      font-size: 1.5em; }
  .Producto {
    width: 8rem;
    height: 14rem; }
    .Producto__Contenedor {
      width: 7.9rem;
      height: 7.9rem; }
      .Producto__Contenedor__Imagen {
        width: 7.9rem;
        height: 7.9rem; }
    .Producto__Titulo {
      font-size: 1em; }
    .Producto__Precio {
      font-size: 1em; }
    .Producto__Parrafo {
      font-size: 0.8em; }
    .Producto__Encargar {
      width: 7rem;
      font-size: 1.2em;
      margin-bottom: 0.5rem; }
    .Producto:hover {
      height: 23rem; } }
