.Carta{
    min-height: 100vh;
    height: auto;
    width: 100%;
    background: url("./Imgs/FondoCartaSevenSushi.png") no-repeat center center fixed;
    display: flex;
    flex-direction: column;
    &__Cabecera{
        margin-bottom: 2rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #000000;
        border-bottom: 0.1rem solid #ffe297;
        min-height: 10vh;
        &__Contenedor{
            width: 10vw;
            min-height: 10vh;
            min-width: 10vh;
            border-right: 0.1rem solid #ffe297;
            &__Imagen{
                width: 10vw;
                min-height: 10vh;
                min-width: 10vh;
            }
        }
        &__Titulo{
            width: calc(100% - 10vw - 0.2rem);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10vw;
            color: #ffe297;
            font-size: 3em;
            text-align: center;
        }

    }
    &__Contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__Seccion{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 8rem;
            overflow: hidden;
            transition: 0.5s;
            &__Titulo{
                display: flex;
                justify-content: center;
                margin: 2rem 0rem;
                color: #ffe297;
                font-weight: 100;
                background-color: #000000d6;
                width: 100%;
                text-align: center;
                padding: 2rem 0;
                font-size: 2.3em;
            }
            &__Contenedor{
                width: 100%;
                min-height: 30rem;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content:space-evenly;
            }
            &:hover{
                height: 41rem;
            }
        }
    }
}